@mixin filter($color){
  -webkit-filter: $color;
  -moz-filter: $color;
  -ms-filter: $color;
  filter: $color;
}

@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}