{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",

  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2021
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "padded-blocks": ["warn"],
    "quotes": ["warn", "single"], //reguła o cudzysłowie
    "import/prefer-default-export": "off", //dodane, by nie wywalało błędu o importach
    "no-console": "off", //dodane by nie wywalało błędu o używaniu console.log
    "import/extensions": [ // to dodane jest, by nie wyrzucało błędów przy importach plików z rozszerzeniem .js
      "error",
      {
        "js": "ignorePackages"
      }
    ]
  }
}

//npm install --save-dev standardx @babel/eslint-parser @babel/core

//npm install -g install-peerdeps
//install-peerdeps --dev eslint-config-airbnb
//install-peerdeps --dev eslint-config-airbnb-base
